USE [AMNHAC]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/10/2022 3:48:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[link]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[link](
	[idtimkiem] [nvarchar](50) NOT NULL,
	[timkiem] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[idPerson] [int] IDENTITY(1,1) NOT NULL,
	[namePerson] [nvarchar](255) NOT NULL,
	[Mota] [nvarchar](max) NULL,
	[hinhPerson] [nvarchar](255) NULL,
	[idTheloai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPerson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[idmusic] [int] IDENTITY(1,1) NOT NULL,
	[namemusic] [nvarchar](255) NOT NULL,
	[singer] [nvarchar](50) NULL,
	[hinhmusic] [nvarchar](255) NULL,
	[link] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idmusic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theloai]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theloai](
	[idTheloai] [int] IDENTITY(1,1) NOT NULL,
	[nameTheloai] [nvarchar](255) NULL,
 CONSTRAINT [PK__Theloai__EA17DFB5A849B5BD] PRIMARY KEY CLUSTERED 
(
	[idTheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[id] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[author] [nvarchar](150) NULL,
	[link] [nvarchar](255) NULL,
	[vitrivideo] [nvarchar](50) NULL,
	[loaivideo] [nvarchar](50) NULL,
	[idTheloai] [int] NULL,
	[duration] [nvarchar](255) NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[HinhNguonVideo] [nvarchar](255) NULL,
 CONSTRAINT [PK__Video__3213E83F9D24CEAB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoAdmin]    Script Date: 6/10/2022 3:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoAdmin](
	[id] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[author] [nvarchar](150) NULL,
	[link] [nvarchar](255) NULL,
	[vitrivideo] [nvarchar](50) NULL,
	[loaivideo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (26, N'52ac2479-c2eb-492f-9970-bb49f2a8b33e', N'urn:tokens:facebook', N'EAAIR22nv6uEBAIVIr4br6iuieRVeoRlmMaDG3sHrxvhZANTd5uJMSJfT0ltrglxoWZASq23P7d0Rn0u7IZAA2UeAZCZA5mQw681jZAeEadIFdlpKi0gH1NuaLCrDfTIHOtYHBv1YaBtQsQ4iInZBZBHBVadnEpzzgJAIlzcNQycCbrCfraUSSLaH7RGAVxhhVtTMdk97xEfckXjZCATq8tkNAZBzydIXEfgvF7ZCnrB6sd8khRTxAVQso2h')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'1809425052726446', N'52ac2479-c2eb-492f-9970-bb49f2a8b33e')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name]) VALUES (N'52ac2479-c2eb-492f-9970-bb49f2a8b33e', N'xincaiten2001@gmail.com', 0, NULL, N'd15c85e8-f49f-4c41-ad14-f5ca4e5485b3', NULL, 0, 0, NULL, 1, 0, N'xincaiten2001@gmail.com', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name]) VALUES (N'c064dab6-1eff-41f4-8b53-5a3a8a72d473', N'hac@gmail.com', 0, N'AHDMEMqn4ZFnQhNTkgb5ojkDhVc7G3lZC3ZNHaFCCNLlDdgrfJjuM4wNCLiwSOptFg==', N'1eb26d49-6686-48cc-afed-c7c34fe528c0', NULL, 0, 0, NULL, 1, 0, N'hac@gmail.com', N'Hoàng Hạc')
GO
INSERT [dbo].[link] ([idtimkiem], [timkiem]) VALUES (N'1', NULL)
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([idPerson], [namePerson], [Mota], [hinhPerson], [idTheloai]) VALUES (1, N'A yue yue', N'Không có gì', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfAJhOdYIhDtaVGbWwx7OKITOsanEdcSPveQ&usqp=CAU', 1)
INSERT [dbo].[Person] ([idPerson], [namePerson], [Mota], [hinhPerson], [idTheloai]) VALUES (6, N'Khắc Việt', N'Mém có gì', N'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/8/2/2/08225973aa58f94e0e01a56fd701cc85.jpg', 2)
INSERT [dbo].[Person] ([idPerson], [namePerson], [Mota], [hinhPerson], [idTheloai]) VALUES (7, N'Diệp Lý', N'Xu xu', N'https://i.ytimg.com/vi/RB--wXNwWfg/maxresdefault.jpg', 1)
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[Playlist] ON 

INSERT [dbo].[Playlist] ([idmusic], [namemusic], [singer], [hinhmusic], [link]) VALUES (1, N'Luôn có người, sẽ yêu anh - Mã Tu || 总有人，会爱你 - 马修', N'马修', N'https://img.youtube.com/vi/DkEOyRx2cdw/maxresdefault.jpg', N'314486061.mp3')
INSERT [dbo].[Playlist] ([idmusic], [namemusic], [singer], [hinhmusic], [link]) VALUES (2, N'枯鱼之肆 - 阿YueYue', N'阿YueYue', N'https://img.youtube.com/vi/nz1LXVRHN9M/maxresdefault.jpg', N'Ayueyue.mp3')
INSERT [dbo].[Playlist] ([idmusic], [namemusic], [singer], [hinhmusic], [link]) VALUES (3, N'Thu Thương Biệt Luyến - Mã Dược Triển | 秋殇别恋 - 马跃展', N'马跃展', N'https://img.youtube.com/vi/84vt6fqXtnI/maxresdefault.jpg', N'3136278587.mp3')
SET IDENTITY_INSERT [dbo].[Playlist] OFF
GO
SET IDENTITY_INSERT [dbo].[Theloai] ON 

INSERT [dbo].[Theloai] ([idTheloai], [nameTheloai]) VALUES (1, N'Trung Hoa')
INSERT [dbo].[Theloai] ([idTheloai], [nameTheloai]) VALUES (2, N'Việt Nam')
INSERT [dbo].[Theloai] ([idTheloai], [nameTheloai]) VALUES (4, NULL)
SET IDENTITY_INSERT [dbo].[Theloai] OFF
GO
INSERT [dbo].[Video] ([id], [title], [author], [link], [vitrivideo], [loaivideo], [idTheloai], [duration], [UserId], [HinhNguonVideo]) VALUES (N'3-sSCa3cEDs/admin/xincaiten2001@gmail.com', N'#抖音神曲2022 %抖音流行歌曲 2022 TIK TOK抖音音樂熱門歌單 \ 2022四月最火的歌曲排行榜 \ 抖音【2022四月最火中文 )', N'Jean Huang', N'抖音神曲2021 %抖音流行歌曲2021 TIK TOK抖音音樂熱門歌單\ 2021四月最火的歌曲排行榜\ 抖音【2020四月最火中文#抖音 ...', N'3-sSCa3cEDs3', N'admin3-sSCa3cEDs/admin/xincaiten2001@gmail.com', 1, N'PT11H54M59S', N'52ac2479-c2eb-492f-9970-bb49f2a8b33e', N'3-sSCa3cEDs')
INSERT [dbo].[Video] ([id], [title], [author], [link], [vitrivideo], [loaivideo], [idTheloai], [duration], [UserId], [HinhNguonVideo]) VALUES (N'42Uvxt7i5dw/admin/xincaiten2001@gmail.com', N'KHẮC VIỆT - Yêu Lại Từ Đầu [Official]', N'KHẮC VIỆT', N'MV MỚI - HOT NHẤT CỦA KHẮC VIỆT - SAO EM NỠ VẬY: https://youtu.be/gQXr_MtxjGM --------- © Copyright by VHD ...', N'42Uvxt7i5dw0', N'admin42Uvxt7i5dw/admin/xincaiten2001@gmail.com', 2, N'PT3M49S', N'52ac2479-c2eb-492f-9970-bb49f2a8b33e', N'42Uvxt7i5dw')
INSERT [dbo].[Video] ([id], [title], [author], [link], [vitrivideo], [loaivideo], [idTheloai], [duration], [UserId], [HinhNguonVideo]) VALUES (N'bu2FBl_GzEA/admin/xincaiten2001@gmail.com', N'Khổng Tú Quỳnh - Mãi Mãi Là Một Lời Nói Dối ft. RIN9 | Official MV', N'Khổng Tú Quỳnh Official', N'Khổng Tú Quỳnh - Mãi Mãi Là Một Lời Nói Dối ft. RIN9 | Official MV Dreamer Entertainment Executive Producer: Nguyễn Tường ...', N'bu2FBl_GzEA0', N'adminbu2FBl_GzEA/admin/xincaiten2001@gmail.com', 2, N'PT4M54S', N'52ac2479-c2eb-492f-9970-bb49f2a8b33e', N'bu2FBl_GzEA')
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [fk_ps] FOREIGN KEY([idTheloai])
REFERENCES [dbo].[Theloai] ([idTheloai])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [fk_ps]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FK_Video_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FK_Video_AspNetUsers]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FK_Video_Theloai] FOREIGN KEY([idTheloai])
REFERENCES [dbo].[Theloai] ([idTheloai])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FK_Video_Theloai]
GO
