
<div id="header">
    <div class="main_name">
        <a href="~/Home/Index" class="home">

            <i class="icon-logo" title="Về Trang Chủ">NVD</i>
        </a>
    </div>

    <div class="search">
        <form action="/Home/Create" method="post">
            <button type="submit">
                <span class="icon"><i class="fa fa-search"></i></span>
            </button>



            <input type="search" name="Id" id="search" placeholder="Search Any Song.." title="Tìm kiếm" style="color:#000" />

        </form>
    </div>

    @*<div class="search">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search"   id="search" placeholder="Search Any Song.." title="Tìm kiếm" style="color:#000" />
        </div>*@
    @*<div class="upload">
            <buton class="upload_btn">
                <i class="fa fa-upload" title="Up bài của bạn"> upload song </i>
            </buton>
        </div>*@
    <nav id="nav" active="">
        <a href="/Discover/Test" class="fa fa-upload" title="Up bài của bạn">Upload song</a>
        <a>/</a>
        <a href="/Discover/IndexDiscover" title="Bản cover"> Discover</a>
       

        <select id="gender" onchange="genderChanged(this)" style="color:white; font-size: 21px; text-decoration: none; text-transform: uppercase; background-color:black;">
            <option value="" style="text-align:center;">--More--</option>
            <option value="Dis">Discover</option>
            <option value="VP">Piano</option>
            <option value="PF">My music profile</option>
        </select>

        @*<a href="#" title="Xem Thêm"> More</a>*@
    </nav>

    @*<ul class="account">
            <li>
                <a href="#">
                    Đăng ký
                </a>
            </li>
            <li><a href="#">Đăng nhập</a></li>
        </ul>*@
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
</div>
<div class="clear"></div>



<script>
    function genderChanged(obj) {
        var value = obj.value;
        if (value === '') {
            window.location.replace("https://localhost:44399/Home/Index");
        }
        else if (value === 'Dis') {
            window.location.replace("https://localhost:44399/Discover/IndexDiscover");
        }
        else if (value === 'VP') {
            window.location.replace("https://localhost:44399/Home/Piano");
        }
        else if (value === 'PF') {
            window.location.replace("https://localhost:44399/MyMusicProfile/Index");
        }
        
    }
</script>
